<!-- DYN -->
<script src="{{ "/assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/util.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/main.js" | absolute_url }}"></script>

<script>
		const shuffleArray = array => array.sort(() => Math.random() - .5);
		var logos = {{ site.data.logos | jsonify }};
		var logosShuffled = shuffleArray(logos);
		$('#logo1').attr('src', logosShuffled[0].img);
		$('#logo2').attr('src', logosShuffled[1].img);
		$('#logo3').attr('src', logosShuffled[2].img);
		$('#logo4').attr('src', logosShuffled[3].img);
		$('#logo5').attr('src', logosShuffled[4].img);
		$('#logo6').attr('src', logosShuffled[5].img);
	</script>
